
body{
    padding: 0;
    margin:0;
}

#search{
    max-width: 250px;
}
#search-btn{
    width: 120px;
    margin-right: 50px;
    margin-top: -34px;
    float: right;

}
.display-result{
    border: 1px solid #ccc;
    padding: 20px 20px;
}
.dates{
    margin-left: -15px;
}
.header-search{
    font-weight: 900;
    float: left;
}
.topnav{
    margin-bottom: 80px !important;
}
#big-text{
   padding-left: 200px; 
   color: #fff;
   font-weight: normal;
   padding-top: 30px;
   font-size: 30px;
}
.navbar{
    background: #A1AE3A;
}
#logout{
    padding-top: 20px;
}
#logout a{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
#logout a:hover,
#logout a:focus{
    text-decoration: none;
    cursor: pointer;
}
.navbar{
    height: 80px !important;
}